.zindex {
    z-index: 1;
    text-shadow: 2px 2px 6px #ffffffc5;
}

.cover {
    width: 100%;
    height: auto;
    /* background: linear-gradient(rgba(216, 34, 34, 0.6), rgba(206, 21, 21, 0.6)),
        url('../images/pexels-pixabay-33129.jpg') no-repeat scroll center; 
        opacity: 0.7;*/
    background: url("../images/undraw_videographer_nnc7.svg") no-repeat scroll center;
    background-size: cover;
    position: relative;
}

div > h1 {
    text-align: center;
    font-weight: 600;
}

.bar {
    width: 100%;
    height: 0.3rem;
    background-color: black;
}

.form-input {
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.171);
    background-color: transparent;
    outline: none;
    text-indent: 0.7rem;
}

.k-badge {
    margin: 10px 10px;
    width: max-content;
    height: auto;
    background-color: orangered;
    border-radius: 3px;
    color: white;
    font-size: 0.7rem;
    float: left;
    padding: 3px 5px;
    text-align: center;
}

.notfound .notfound-404 h1 > span {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-image: url("../images/emoji.png");
    background-size: cover;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: -1;
}
